<%= will_paginate %>

<div class="container-fluid">
  <h1 class="mt-4 mb-5 text-center">All Questions</h1>
  <%= link_to "Create question", new_question_path, class: "btn btn-primary mb-4" %>
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Question</th>
          <th>Exam</th>
          <th>Right answer</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <% question.exams.each do |exam| %>
            <tr>
              <td><%= link_to question.content, question_path(question) %></td>
              <td><%= exam.name %></td>
              <td><%= question.right_answer %></td>
              <td><%= link_to "Edit", edit_question_path(question) %></td>
              <td><%= link_to "Delete", question_path(question), method: :delete, data: { confirm: "You sure?" } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate %>
