<h1 class="text-center mt-4">Question</h1>

<div class="row">
<<<<<<< Updated upstream
   <div class="col-md-6 mx-auto">
    <%= form_for @question do |f| %>

      <%= f.label :Question %>
      <%= f.text_field :content , class: "form-control"%>

      <%= f.fields_for :answers do |answer| %>
        <%= answer.label :Answer %>
        <%= text_field_tag "question[answers_attributes][][content]","", class: "form-control mb-1" %>

        <%= button_tag 'Add', type: 'button', class: "btn btn-primary mt-3", id: "add_answer" %>
      <% end %>

      <%= f.submit "Save", class: "btn btn-primary mt-3" %>
      <div id="answer_div" class="mt-5"></div>
=======
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @question do |f| %>
      <%= f.label :Content %>
      <%= f.text_field :content , class: "form-control"%>

      <%= f.fields_for :answers do |answer| %>
        <%= answer.label :Answer %>
        <%= text_field_tag "question[answers_attributes][][content]","", class: "form-control" %>

        <%= button_tag 'Add', type: 'button', class: "btn btn-primary mb-3", id: "add_answer" %>
      <% end %>


      <%= f.submit "Save", class: "btn btn-primary" %>
      <div id="answer_div"></div>
>>>>>>> Stashed changes
    <% end %>

  </div>
</div>
