<h1 class="text-center mt-3 mb-5">Profile</h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_with(model: @profile, url: user_profile_path(@profile), local:true ) do |f|%>

      <span class="image">
        <div class="custom-file">
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "custom-file-input" %>
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </span>

      <%= f.label "First name" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label "Last name" %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label "Birthday" %>
      <%= f.date_field :birth_date, class: "form-control" %>

      <%= f.label "Address" %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary mt-3"%>

    <% end %>

  </div>
</div>
