<div class="row mt-5">
  <div class="mx-auto text-center">
    <div class="col-sm-12">
      <figure>
        <h3>Profile</h3>
        <% if @profile.image.attached? %>
        <%= image_tag @profile.display_image , class: "rounded-circle" %>
        <% else %>
          <%= avatar_for(@profile, 150, 150) %>
        <% end %>
      </figure>
      <p><strong><%= @profile.full_name %> </strong></p>
      <p><strong>Birth day: </strong> <%= @profile.birth_date %> </p>
      <p><strong>Address: </strong> <%= @profile.address %> </p>
      <%= link_to  "Edit profile", edit_user_profile_path(@user), class: "btn btn-success" %>
    </div>
  </div>
</div>
