
<div class="container">

  <h1 class="my-4 text-center">All users</h1>
  <div class="row mb-5">
    <%= link_to "Create user", new_user_path, class: "btn btn-primary ml-3" %>
    <%= search_form_for @search, html: {class: "form-inline ml-auto mr-3"} do |f| %>
      <div class="field form-group">
        <%= f.text_field :email_cont, class: "form-control mx-sm-3", placeholder: "Email" %>
      </div>
      <div class="actions"><%= f.submit "Search", class: "btn btn-primary" %></div>
    <% end %>
  </div>
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-md-4">
      <% if user.profile.image.attached? %>
        <%= image_tag user.profile.display_image, width: 100, height: 100 %>
      <% else %>
        <%= avatar_for(user.profile, 100, 100) %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h5><%= link_to user.email, user_profile_path(user) %></h5>
      <%= link_to "delete", user_registration_path(user), class: "btn btn-primary", method: :delete, data: { confirm: "You sure?" } %>
    </div>
  </div>
  <hr>
  <% end %>
