<div class="row mb-5">
  <%= link_to "Create user", new_exam_path, class: "btn btn-primary ml-3" %>
  <%= search_form_for @search, html: {class: "form-inline ml-auto mr-3"} do |f| %>
    <div class="field form-group">
      <%= f.select :status_eq, Exam.statuses.to_a.map {|w| [w[0].humanize, w[1]]}, {}, class: "form-control mx-sm-3" %>
    </div>
    <div class="actions"><%= f.submit "Search", class: "btn btn-primary" %></div>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Exam name</th>
        <th>Subject</th>
        <th>Question number</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.subject.name %></td>
        <td><%= exam.questions.count %></td>
        <td><%= exam.status %></td>
        <td><%= link_to "Edit", edit_exam_path(exam), class: "btn btn-primary" %></td>
        <td><%= link_to "Delete", exam_path(exam), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
