<h1 class="text-center mt-4">Exam</h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_for @exam do |f| %>

      <%= render 'shared/error_messages', resource: f.object %>
      <%= render "exams/subject_form", f: f %>

      <%= f.label :Exam %>
      <%= f.text_field :name, class: "form-control"%>
      <%= f.select :status, options_for_select([["Draft", "draft"], ["Public", "public"]]), {}, class: "selectpicker mt-3 mb-3" %>

      <%= render "exams/question_form", f: f %>

      <%= f.submit "Save", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>
