<h1>Exam</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: "/exams", scope: :exam, local: true) do |f| %>

      <%= render 'subjects/search_form', f: f%>

      <%= f.label :exam %>
      <%= f.text_field :name, class: 'form-control' %>

     <%= f.select :status, raw('<option value="draft">Draft</option><option value="public">Public</option>') %>

      <%= f.submit "Create exam", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
