<h1 class="text-center mt-4">Exam</h1>

<%= simple_form_for @exam, :html => {:class => 'container'} do |f|%>
  <div class="modal-body row">
    <div class="col-md-3">
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= render "subject_form", f: f %>
      <%= f.input :name, label: "Exam", required: false %>
      <%= f.input :status, as: :select, collection: Exam.statuses.keys.map {|status| [status.titleize, status]}, class: "selectpicker" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    <div class="col-md-8 ml-5">
      <div class="links">
        <%= link_to_add_association 'Add', f, :questions, {data: {"association-insertion-method"=>"after"}, class: "btn btn-primary mb-2" } %>
      </div>
      <%= f.fields_for :questions do |question| %>
        <%= render "question_fields", f: question%>
      <% end %>
    </div>
  </div>
<% end %>
