<%= content_tag :div, class: "temp_information", data: {temp: @time, id: @user_exam.id} do %>
<% end %>

<h1 class="text-center mt-4"><%= @exam.name %></h1>
<div id="clockdiv" class="col-md-12 mx-auto">
  <div>
    <span class="hours" id="hour"></span>
  </div>
  <div>
    <span class="minutes" id="minute"></span>
  </div>
  <div>
    <span class="seconds" id="second"></span>
  </div>
</div>
<p id="demo"></p>

<div class="col-md-4">
  <%= form_for @user_exam do |f|%>
    <% @exam.questions.each_with_index do |question, index| %>
      <h4>
        <%= (index+1).to_s << ". " << question.content %>
      </h4>

      <% question.answers.each do |answer| %>
        <div class="form-check">
          <% if check_if_chosen?(@user_exam, answer) %>
            <%= radio_button_tag "user_exam[take_answers_attributes][#{question.id}][answer_id]", answer.id, checked: "checked" %>
          <% else %>
            <%= radio_button_tag "user_exam[take_answers_attributes][#{question.id}][answer_id]", answer.id %>
          <% end %>
          <%= hidden_field_tag "user_exam[take_answers_attributes][#{question.id}][question_id]", question.id %>
          <label for=answer.id><%= answer.content %></label><br>
        </div>
      <% end %>

    <% end %>
    <%= f.submit "Save", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
